<div class="pirate">
<h1>Name: <%=@pirate.name%></h1><br>
<h1>Weight: <%=@pirate.weight%>pounds</h1><br>
<h1>Height: <%=@pirate.height%>inches</h1><br>
</div><br>


<h2>Ships</h2>
<%@ships.each do |ship|%>
<div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
</div><br>
<% end %>
